<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395165784436-o60ht0t4vgka6n732ahr22b4k5adv96u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395165784436-o60ht0t4vgka6n732ahr22b4k5adv96u</string>
	<key>API_KEY</key>
	<string>AIzaSyAyWNmiBI4SwIoskGQD3VACcAoa79VU2J8</string>
	<key>GCM_SENDER_ID</key>
	<string>395165784436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wannatalk.wtsdkapp</string>
	<key>PROJECT_ID</key>
	<string>wannatalksdkapp</string>
	<key>STORAGE_BUCKET</key>
	<string>wannatalksdkapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395165784436:ios:278e6798b13177fd847421</string>
	<key>DATABASE_URL</key>
	<string>https://wannatalksdkapp.firebaseio.com</string>
</dict>
</plist>